{
  "swagger" : "2.0",
  "info" : {
    "description" : "Employer APIs",
    "version" : "v1",
    "title" : "Swagger spec for Work Market API v1",
    "termsOfService" : "https://developer.workmarket.com/tos",
    "contact" : {
      "name" : "Work Market API Team",
      "url" : "https://developer.workmarket.com",
      "email" : "api@workmarket.com"
    },
    "license" : {
      "name" : "Company Licence",
      "url" : "https://developer.workmarket.com/licenses/LICENSE-2.0.html"
    }
  },
  "host" : "www.workmarket.com",
  "basePath" : "/",
  "tags" : [ {
    "name" : "Addressbook"
  }, {
    "name" : "Assignments"
  }, {
    "name" : "Authorization"
  }, {
    "name" : "Constants"
  }, {
    "name" : "Custom Fields"
  }, {
    "name" : "Labels"
  }, {
    "name" : "Locations"
  }, {
    "name" : "Projects"
  }, {
    "name" : "Talent Pools"
  } ],
  "schemes" : [ "https" ],
  "paths" : {
    "/v1/api/assignments/customfields/list" : {
      "get" : {
        "tags" : [ "Custom Fields" ],
        "summary" : "List custom fields",
        "description" : "",
        "operationId" : "list",
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/v1Meta"
                },
                "response" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/CustomFieldGroup"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/employer/addressbook/clients/add" : {
      "post" : {
        "tags" : [ "Addressbook" ],
        "summary" : "Add client",
        "description" : "",
        "operationId" : "addClient",
        "parameters" : [ {
          "name" : "company_name",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "industry_name",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customer_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "region",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "division",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ApiV1Response"
            }
          }
        }
      }
    },
    "/v1/employer/addressbook/clients/contacts/add" : {
      "post" : {
        "tags" : [ "Addressbook" ],
        "summary" : "Add contact to client",
        "description" : "",
        "operationId" : "addClientContact",
        "parameters" : [ {
          "name" : "client_id",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "first_name",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "last_name",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "title",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "manager",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ApiV1Response"
            }
          }
        }
      }
    },
    "/v1/employer/addressbook/locations/contacts/add" : {
      "post" : {
        "tags" : [ "Addressbook" ],
        "summary" : "Add contact to location",
        "description" : "",
        "operationId" : "addLocationContact",
        "parameters" : [ {
          "name" : "location_id",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "first_name",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "last_name",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "title",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "manager",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ApiV1Response"
            }
          }
        }
      }
    },
    "/v1/employer/assignments/accept_bonus" : {
      "get" : {
        "tags" : [ "Assignments" ],
        "summary" : "Accept bonus request",
        "description" : "",
        "operationId" : "acceptBonus",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ApiV1Response"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Accept bonus request",
        "description" : "",
        "operationId" : "acceptBonus",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ApiV1Response"
            }
          }
        }
      }
    },
    "/v1/employer/assignments/accept_budget_increase" : {
      "get" : {
        "tags" : [ "Assignments" ],
        "summary" : "Accept budget increase request",
        "description" : "",
        "operationId" : "acceptBudgetIncrease",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ApiV1Response"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Accept budget increase request",
        "description" : "",
        "operationId" : "acceptBudgetIncrease",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ApiV1Response"
            }
          }
        }
      }
    },
    "/v1/employer/assignments/accept_expense_reimbursement" : {
      "get" : {
        "tags" : [ "Assignments" ],
        "summary" : "Accept expense reimbursement",
        "description" : "",
        "operationId" : "acceptExpenseReimbursement",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ApiV1Response"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Accept expense reimbursement",
        "description" : "",
        "operationId" : "acceptExpenseReimbursement",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ApiV1Response"
            }
          }
        }
      }
    },
    "/v1/employer/assignments/accept_reschedule" : {
      "get" : {
        "tags" : [ "Assignments" ],
        "summary" : "Accept reschedule request",
        "description" : "",
        "operationId" : "acceptReschedule",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ApiV1Response"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Accept reschedule request",
        "description" : "",
        "operationId" : "acceptReschedule",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ApiV1Response"
            }
          }
        }
      }
    },
    "/v1/employer/assignments/add_note" : {
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Add message",
        "description" : "",
        "operationId" : "addNote",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "content",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "is_private",
          "in" : "query",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "is_privileged",
          "in" : "query",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ApiV1Response"
            }
          }
        }
      }
    },
    "/v1/employer/assignments/approve_payment" : {
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Approve payment",
        "description" : "",
        "operationId" : "approvePayment",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ApiV1Response"
            }
          }
        }
      }
    },
    "/v1/employer/assignments/attachments/add" : {
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Add document",
        "description" : "",
        "operationId" : "addDocument",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "attachment",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "filename",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "description",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/v1Meta"
                },
                "response" : {
                  "$ref" : "#/definitions/Attachment"
                }
              }
            }
          }
        }
      }
    },
    "/v1/employer/assignments/attachments/get" : {
      "get" : {
        "tags" : [ "Assignments" ],
        "summary" : "Get attachment",
        "description" : "",
        "operationId" : "getAttachment",
        "parameters" : [ {
          "name" : "uuid",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/v1Meta"
                },
                "response" : {
                  "$ref" : "#/definitions/Attachment"
                }
              }
            }
          }
        }
      }
    },
    "/v1/employer/assignments/attachments/list" : {
      "get" : {
        "tags" : [ "Assignments" ],
        "summary" : "List attachments",
        "description" : "",
        "operationId" : "listAttachments",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "closeout",
          "in" : "query",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/v1Meta"
                },
                "response" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Attachment"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/employer/assignments/attachments/remove" : {
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Remove attachment",
        "description" : "",
        "operationId" : "removeAttachment",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "uuid",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ApiV1Response"
            }
          }
        }
      }
    },
    "/v1/employer/assignments/cancel" : {
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Cancel assignment",
        "description" : "",
        "operationId" : "cancel",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "note",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "amount",
          "in" : "query",
          "required" : false,
          "type" : "number",
          "format" : "double"
        }, {
          "name" : "reason",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ApiV1Response"
            }
          }
        }
      }
    },
    "/v1/employer/assignments/create" : {
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Create new assignment",
        "description" : "",
        "operationId" : "create",
        "parameters" : [ {
          "name" : "template_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "external_work_id",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "title",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "description",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "instructions",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "private_instructions",
          "in" : "query",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "desired_skills",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "industry_id",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "owner_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "owner_email",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "support_contact_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "support_contact_email",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "client_id",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "project_id",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "scheduled_start",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "scheduled_start_date",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "scheduled_end",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "scheduled_end_date",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "pricing_mode",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "pricing_type",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "pricing_flat_price",
          "in" : "query",
          "required" : false,
          "type" : "number",
          "format" : "double"
        }, {
          "name" : "pricing_per_hour_price",
          "in" : "query",
          "required" : false,
          "type" : "number",
          "format" : "double"
        }, {
          "name" : "pricing_max_number_of_hours",
          "in" : "query",
          "required" : false,
          "type" : "number",
          "format" : "double"
        }, {
          "name" : "pricing_per_unit_price",
          "in" : "query",
          "required" : false,
          "type" : "number",
          "format" : "double"
        }, {
          "name" : "pricing_max_number_of_units",
          "in" : "query",
          "required" : false,
          "type" : "number",
          "format" : "double"
        }, {
          "name" : "pricing_initial_per_hour_price",
          "in" : "query",
          "required" : false,
          "type" : "number",
          "format" : "double"
        }, {
          "name" : "pricing_initial_number_of_hours",
          "in" : "query",
          "required" : false,
          "type" : "number",
          "format" : "double"
        }, {
          "name" : "pricing_additional_per_hour_price",
          "in" : "query",
          "required" : false,
          "type" : "number",
          "format" : "double"
        }, {
          "name" : "pricing_max_blended_number_of_hours",
          "in" : "query",
          "required" : false,
          "type" : "number",
          "format" : "double"
        }, {
          "name" : "location_offsite",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "location_id",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "location_name",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "location_number",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "location_address1",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "location_address2",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "location_city",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "location_state",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "location_zip",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "location_country",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "location_dress_code",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "location_type",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "requirement_set_ids",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "integer",
            "format" : "int64"
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "send_radius",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "resource_id",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "assign_to_first_to_accept",
          "in" : "query",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "auto_invite",
          "in" : "query",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "show_in_work_feed",
          "in" : "query",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/v1Meta"
                },
                "response" : {
                  "$ref" : "#/definitions/AssignmentCreationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/employer/assignments/decline_bonus" : {
      "get" : {
        "tags" : [ "Assignments" ],
        "summary" : "Decline bonus request",
        "description" : "",
        "operationId" : "declineBonus",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "reason",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ApiV1Response"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Decline bonus request",
        "description" : "",
        "operationId" : "declineBonus",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "reason",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ApiV1Response"
            }
          }
        }
      }
    },
    "/v1/employer/assignments/decline_budget_increase" : {
      "get" : {
        "tags" : [ "Assignments" ],
        "summary" : "Decline budget increase request",
        "description" : "",
        "operationId" : "declineBudgetIncrease",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "reason",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ApiV1Response"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Decline budget increase request",
        "description" : "",
        "operationId" : "declineBudgetIncrease",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "reason",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ApiV1Response"
            }
          }
        }
      }
    },
    "/v1/employer/assignments/decline_expense_reimbursement" : {
      "get" : {
        "tags" : [ "Assignments" ],
        "summary" : "Decline expense reimbursement request",
        "description" : "",
        "operationId" : "declineExpenseReimbursement",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "reason",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ApiV1Response"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Decline expense reimbursement request",
        "description" : "",
        "operationId" : "declineExpenseReimbursement",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "reason",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ApiV1Response"
            }
          }
        }
      }
    },
    "/v1/employer/assignments/decline_reschedule" : {
      "get" : {
        "tags" : [ "Assignments" ],
        "summary" : "Decline reschedule request",
        "description" : "",
        "operationId" : "declineReschedule",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "reason",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ApiV1Response"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Decline reschedule request",
        "description" : "",
        "operationId" : "declineReschedule",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "reason",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ApiV1Response"
            }
          }
        }
      }
    },
    "/v1/employer/assignments/delete" : {
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Delete assignment",
        "description" : "",
        "operationId" : "delete",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ApiV1Response"
            }
          }
        }
      }
    },
    "/v1/employer/assignments/get" : {
      "get" : {
        "tags" : [ "Assignments" ],
        "summary" : "Get assignment details",
        "description" : "",
        "operationId" : "get",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/v1Meta"
                },
                "response" : {
                  "$ref" : "#/definitions/AssignmentDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/employer/assignments/increase_spendlimit" : {
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Increase spend limit",
        "description" : "",
        "operationId" : "increaseSpendLimit",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "type",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "pricing_mode",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "flat_price",
          "in" : "query",
          "required" : false,
          "type" : "number",
          "format" : "double"
        }, {
          "name" : "per_hour_price",
          "in" : "query",
          "required" : false,
          "type" : "number",
          "format" : "double"
        }, {
          "name" : "max_number_of_hours",
          "in" : "query",
          "required" : false,
          "type" : "number",
          "format" : "double"
        }, {
          "name" : "per_unit_price",
          "in" : "query",
          "required" : false,
          "type" : "number",
          "format" : "double"
        }, {
          "name" : "max_number_of_units",
          "in" : "query",
          "required" : false,
          "type" : "number",
          "format" : "double"
        }, {
          "name" : "initial_per_hour_price",
          "in" : "query",
          "required" : false,
          "type" : "number",
          "format" : "double"
        }, {
          "name" : "initial_number_of_hours",
          "in" : "query",
          "required" : false,
          "type" : "number",
          "format" : "double"
        }, {
          "name" : "additional_per_hour_price",
          "in" : "query",
          "required" : false,
          "type" : "number",
          "format" : "double"
        }, {
          "name" : "max_blended_number_of_hours",
          "in" : "query",
          "required" : false,
          "type" : "number",
          "format" : "double"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ApiV1Response"
            }
          }
        },
        "deprecated" : true
      }
    },
    "/v1/employer/assignments/labels/add" : {
      "get" : {
        "tags" : [ "Labels" ],
        "summary" : "Add labels to assignment",
        "description" : "",
        "operationId" : "add",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "substatus_id",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "note",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ApiV1Response"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Labels" ],
        "summary" : "Add labels to assignment",
        "description" : "",
        "operationId" : "add",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "substatus_id",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "note",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ApiV1Response"
            }
          }
        }
      }
    },
    "/v1/employer/assignments/labels/list" : {
      "get" : {
        "tags" : [ "Labels" ],
        "summary" : "List labels",
        "description" : "",
        "operationId" : "list",
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/v1Meta"
                },
                "response" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/ListLabel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/employer/assignments/labels/remove" : {
      "get" : {
        "tags" : [ "Labels" ],
        "summary" : "Remove label from assignment",
        "description" : "",
        "operationId" : "remove",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "substatus_id",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ApiV1Response"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Labels" ],
        "summary" : "Remove label from assignment",
        "description" : "",
        "operationId" : "remove",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "substatus_id",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ApiV1Response"
            }
          }
        }
      }
    },
    "/v1/employer/assignments/list" : {
      "get" : {
        "tags" : [ "Assignments" ],
        "summary" : "List assignments",
        "description" : "",
        "operationId" : "list",
        "parameters" : [ {
          "name" : "status",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "labels",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "client_id",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "start",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "limit",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "sort_dir",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/v1Meta"
                },
                "response" : {
                  "type" : "object",
                  "properties" : {
                    "count" : {
                      "type" : "integer",
                      "format" : "int32"
                    },
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/definitions/AssignmentListItem"
                      }
                    },
                    "limit" : {
                      "type" : "integer",
                      "format" : "int32"
                    },
                    "start" : {
                      "type" : "integer",
                      "format" : "int32"
                    },
                    "totalResults" : {
                      "type" : "integer",
                      "format" : "int32"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/employer/assignments/list_exceptions" : {
      "get" : {
        "tags" : [ "Assignments" ],
        "summary" : "List exception-status assignments",
        "description" : "",
        "operationId" : "listExceptions",
        "parameters" : [ {
          "name" : "start",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "limit",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "exception_type",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/v1Meta"
                },
                "response" : {
                  "type" : "object",
                  "properties" : {
                    "count" : {
                      "type" : "integer",
                      "format" : "int32"
                    },
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/definitions/AssignmentListItem"
                      }
                    },
                    "limit" : {
                      "type" : "integer",
                      "format" : "int32"
                    },
                    "start" : {
                      "type" : "integer",
                      "format" : "int32"
                    },
                    "totalResults" : {
                      "type" : "integer",
                      "format" : "int32"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/employer/assignments/list_updated" : {
      "get" : {
        "tags" : [ "Assignments" ],
        "summary" : "List updated assignments",
        "description" : "",
        "operationId" : "listUpdated",
        "parameters" : [ {
          "name" : "status",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "modified_since",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "start",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "limit",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "sort_dir",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/v1Meta"
                },
                "response" : {
                  "type" : "object",
                  "properties" : {
                    "count" : {
                      "type" : "integer",
                      "format" : "int32"
                    },
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/definitions/AssignmentListItem"
                      }
                    },
                    "limit" : {
                      "type" : "integer",
                      "format" : "int32"
                    },
                    "start" : {
                      "type" : "integer",
                      "format" : "int32"
                    },
                    "totalResults" : {
                      "type" : "integer",
                      "format" : "int32"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/employer/assignments/offers/accept" : {
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Accept offer/application",
        "description" : "",
        "operationId" : "acceptOffer",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ApiV1Response"
            }
          }
        }
      }
    },
    "/v1/employer/assignments/offers/decline" : {
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Decline offer/application",
        "description" : "",
        "operationId" : "declineOffer",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "reason",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ApiV1Response"
            }
          }
        }
      }
    },
    "/v1/employer/assignments/questions/answer" : {
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Answer question",
        "description" : "",
        "operationId" : "answerQuestion",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "answer",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ApiV1Response"
            }
          }
        }
      }
    },
    "/v1/employer/assignments/reject_payment" : {
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Reject payment",
        "description" : "",
        "operationId" : "rejectPayment",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "note",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ApiV1Response"
            }
          }
        }
      }
    },
    "/v1/employer/assignments/reschedule" : {
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Request reschedule",
        "description" : "",
        "operationId" : "reschedule",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "scheduled_start",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "scheduled_end",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ApiV1Response"
            }
          }
        }
      }
    },
    "/v1/employer/assignments/statuses" : {
      "get" : {
        "tags" : [ "Assignments" ],
        "summary" : "List statuses",
        "description" : "",
        "operationId" : "statuses",
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/v1Meta"
                },
                "response" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Status"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/employer/assignments/templates/get" : {
      "get" : {
        "tags" : [ "Assignments" ],
        "summary" : "Get template",
        "description" : "",
        "operationId" : "get",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/v1Meta"
                },
                "response" : {
                  "$ref" : "#/definitions/Template"
                }
              }
            }
          }
        }
      }
    },
    "/v1/employer/assignments/templates/list" : {
      "get" : {
        "tags" : [ "Assignments" ],
        "summary" : "List templates",
        "description" : "",
        "operationId" : "list",
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/v1Meta"
                },
                "response" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/TemplateListItem"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/employer/assignments/void" : {
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Void assignment",
        "description" : "",
        "operationId" : "doVoid",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "note",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ApiV1Response"
            }
          }
        }
      }
    },
    "/v1/employer/assignments/{id}/custom_fields" : {
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Update custom fields",
        "description" : "",
        "operationId" : "edit",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ApiV1Response"
            }
          }
        }
      }
    },
    "/v1/employer/assignments/{id}/edit" : {
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Edit assignment",
        "description" : "",
        "operationId" : "edit",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "title",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "description",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "instructions",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "desired_skills",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "industry_id",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "owner_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "owner_email",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "support_contact_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "support_contact_email",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "client_id",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "project_id",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "scheduled_start",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "scheduled_start_date",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "scheduled_end",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "scheduled_end_date",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "pricing_mode",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "pricing_type",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "pricing_flat_price",
          "in" : "query",
          "required" : false,
          "type" : "number",
          "format" : "double"
        }, {
          "name" : "pricing_per_hour_price",
          "in" : "query",
          "required" : false,
          "type" : "number",
          "format" : "double"
        }, {
          "name" : "pricing_max_number_of_hours",
          "in" : "query",
          "required" : false,
          "type" : "number",
          "format" : "double"
        }, {
          "name" : "pricing_per_unit_price",
          "in" : "query",
          "required" : false,
          "type" : "number",
          "format" : "double"
        }, {
          "name" : "pricing_max_number_of_units",
          "in" : "query",
          "required" : false,
          "type" : "number",
          "format" : "double"
        }, {
          "name" : "pricing_initial_per_hour_price",
          "in" : "query",
          "required" : false,
          "type" : "number",
          "format" : "double"
        }, {
          "name" : "pricing_initial_number_of_hours",
          "in" : "query",
          "required" : false,
          "type" : "number",
          "format" : "double"
        }, {
          "name" : "pricing_additional_per_hour_price",
          "in" : "query",
          "required" : false,
          "type" : "number",
          "format" : "double"
        }, {
          "name" : "pricing_max_blended_number_of_hours",
          "in" : "query",
          "required" : false,
          "type" : "number",
          "format" : "double"
        }, {
          "name" : "location_offsite",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "location_id",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "location_name",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "location_number",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "location_address1",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "location_address2",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "location_city",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "location_state",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "location_zip",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "location_country",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "location_dress_code",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "location_type",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "requirement_set_ids",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "integer",
            "format" : "int64"
          },
          "collectionFormat" : "multi"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ApiV1Response"
            }
          }
        }
      }
    },
    "/v1/employer/assignments/{id}/pricing/budget_increase" : {
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Add budget increase",
        "description" : "",
        "operationId" : "increaseBudget",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "flat_price",
          "in" : "query",
          "required" : false,
          "type" : "number",
          "format" : "double"
        }, {
          "name" : "max_number_of_hours",
          "in" : "query",
          "required" : false,
          "type" : "number",
          "format" : "double"
        }, {
          "name" : "max_number_of_units",
          "in" : "query",
          "required" : false,
          "type" : "number",
          "format" : "double"
        }, {
          "name" : "max_blended_number_of_hours",
          "in" : "query",
          "required" : false,
          "type" : "number",
          "format" : "double"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ApiV1Response"
            }
          }
        }
      }
    },
    "/v1/employer/assignments/{id}/pricing/expense_reimbursement" : {
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Add expense reimbursement",
        "description" : "",
        "operationId" : "reimburseExpense",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "amount",
          "in" : "query",
          "required" : true,
          "type" : "number",
          "format" : "double"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ApiV1Response"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Assignments" ],
        "summary" : "Add expense reimbursement",
        "description" : "",
        "operationId" : "reimburseExpense",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "amount",
          "in" : "query",
          "required" : true,
          "type" : "number",
          "format" : "double"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ApiV1Response"
            }
          }
        }
      }
    },
    "/v1/employer/assignments/{id}/send" : {
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Send assignment",
        "description" : "",
        "operationId" : "send",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "group_id",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "integer",
            "format" : "int64"
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "send_radius",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "resource_id",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "assign_to_first_to_accept",
          "in" : "query",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "auto_invite",
          "in" : "query",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/v1Meta"
                },
                "response" : {
                  "$ref" : "#/definitions/SendResults"
                }
              }
            }
          }
        }
      }
    },
    "/v1/employer/assignments/{workNumber}/complete" : {
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Complete assignment for worker",
        "description" : "",
        "operationId" : "complete",
        "parameters" : [ {
          "name" : "workNumber",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "resolution",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "hours_worked",
          "in" : "query",
          "required" : false,
          "type" : "number",
          "format" : "double"
        }, {
          "name" : "units",
          "in" : "query",
          "required" : false,
          "type" : "number",
          "format" : "double"
        }, {
          "name" : "override_additional_expenses",
          "in" : "query",
          "required" : false,
          "type" : "number",
          "format" : "double"
        }, {
          "name" : "override_price",
          "in" : "query",
          "required" : false,
          "type" : "number",
          "format" : "double"
        }, {
          "name" : "tax_rate",
          "in" : "query",
          "required" : false,
          "type" : "number",
          "format" : "double"
        }, {
          "name" : "approve_payment",
          "in" : "query",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ApiV1Response"
            }
          }
        }
      }
    },
    "/v1/employer/authorization/request" : {
      "post" : {
        "tags" : [ "Authorization" ],
        "summary" : "Request new access token",
        "description" : "",
        "operationId" : "request",
        "parameters" : [ {
          "name" : "token",
          "in" : "query",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "secret",
          "in" : "query",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/v1Meta"
                },
                "response" : {
                  "$ref" : "#/definitions/Authorization"
                }
              }
            }
          }
        }
      }
    },
    "/v1/employer/constants/dress_codes" : {
      "get" : {
        "tags" : [ "Constants" ],
        "summary" : "List dress codes",
        "description" : "",
        "operationId" : "dressCodes",
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/v1Meta"
                },
                "response" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/dress_code"
                  }
                }
              }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/v1/employer/constants/industries" : {
      "get" : {
        "tags" : [ "Constants" ],
        "summary" : "List industry IDs",
        "description" : "",
        "operationId" : "industries",
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/v1Meta"
                },
                "response" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Industry"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/employer/constants/location_types" : {
      "get" : {
        "tags" : [ "Constants" ],
        "summary" : "Location types",
        "description" : "",
        "operationId" : "locationTypes",
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/v1Meta"
                },
                "response" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/LocationType"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/employer/constants/substatuses" : {
      "get" : {
        "tags" : [ "Constants" ],
        "summary" : "List substatuses",
        "description" : "",
        "operationId" : "subStatuses",
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/v1Meta"
                },
                "response" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Substatus"
                  }
                }
              }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/v1/employer/crm/clients/list" : {
      "get" : {
        "tags" : [ "Addressbook" ],
        "summary" : "List clients",
        "description" : "",
        "operationId" : "list",
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/v1Meta"
                },
                "response" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Client"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/employer/crm/contacts/list" : {
      "get" : {
        "tags" : [ "Addressbook" ],
        "summary" : "List contacts",
        "description" : "",
        "operationId" : "list",
        "parameters" : [ {
          "name" : "client_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/v1Meta"
                },
                "response" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Contact"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/employer/crm/locations/list" : {
      "get" : {
        "tags" : [ "Locations" ],
        "summary" : "List locations",
        "description" : "",
        "operationId" : "list",
        "parameters" : [ {
          "name" : "client_id",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/v1Meta"
                },
                "response" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Location"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/employer/groups/list" : {
      "get" : {
        "tags" : [ "Talent Pools" ],
        "summary" : "List talent pools",
        "description" : "",
        "operationId" : "list",
        "parameters" : [ {
          "name" : "iDisplayStart",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "iDisplayLength",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/v1Meta"
                },
                "response" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/TalentPool"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/employer/groups/{groupId}/add_workers" : {
      "post" : {
        "tags" : [ "Talent Pools" ],
        "summary" : "Add workers to talent pool",
        "description" : "",
        "operationId" : "addWorkers",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ApiV1Response"
            }
          }
        }
      }
    },
    "/v1/employer/projects/add" : {
      "post" : {
        "tags" : [ "Projects" ],
        "summary" : "Create project",
        "description" : "",
        "operationId" : "addProject",
        "parameters" : [ {
          "name" : "client_id",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/v1Meta"
                },
                "response" : {
                  "$ref" : "#/definitions/AddProjectResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/employer/projects/list" : {
      "get" : {
        "tags" : [ "Projects" ],
        "summary" : "List projects",
        "description" : "",
        "operationId" : "list",
        "parameters" : [ {
          "name" : "client_id",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/v1Meta"
                },
                "response" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Project"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "definitions" : {
    "ActiveResource" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string",
          "readOnly" : true
        },
        "first_name" : {
          "type" : "string",
          "readOnly" : true
        },
        "last_name" : {
          "type" : "string",
          "readOnly" : true
        },
        "company_name" : {
          "type" : "string",
          "readOnly" : true
        },
        "email" : {
          "type" : "string",
          "readOnly" : true
        },
        "profile_picture" : {
          "type" : "string",
          "readOnly" : true
        },
        "profile_picture_large" : {
          "type" : "string",
          "readOnly" : true
        },
        "rating" : {
          "type" : "integer",
          "format" : "int32",
          "readOnly" : true
        },
        "number_of_ratings" : {
          "type" : "integer",
          "format" : "int64",
          "readOnly" : true
        },
        "confirmed_onsite" : {
          "type" : "boolean",
          "readOnly" : true,
          "default" : false
        },
        "confirmed_date" : {
          "type" : "integer",
          "format" : "int64",
          "readOnly" : true
        },
        "phone_numbers" : {
          "type" : "array",
          "readOnly" : true,
          "items" : {
            "$ref" : "#/definitions/PhoneNumber"
          }
        },
        "address" : {
          "readOnly" : true,
          "$ref" : "#/definitions/Address"
        },
        "check_in_out" : {
          "type" : "array",
          "readOnly" : true,
          "items" : {
            "$ref" : "#/definitions/CheckInOut"
          }
        }
      }
    },
    "AddProjectResponse" : {
      "type" : "object",
      "properties" : {
        "successful" : {
          "type" : "boolean",
          "readOnly" : true,
          "default" : false
        },
        "id" : {
          "type" : "integer",
          "format" : "int64",
          "readOnly" : true
        }
      }
    },
    "Address" : {
      "type" : "object",
      "properties" : {
        "address_1" : {
          "type" : "string",
          "readOnly" : true
        },
        "address_2" : {
          "type" : "string",
          "readOnly" : true
        },
        "city" : {
          "type" : "string",
          "readOnly" : true
        },
        "state" : {
          "type" : "string",
          "readOnly" : true
        },
        "zip" : {
          "type" : "string",
          "readOnly" : true
        },
        "country" : {
          "type" : "string",
          "readOnly" : true
        }
      }
    },
    "ApiV1Response" : {
      "type" : "object",
      "properties" : {
        "meta" : {
          "description" : "Details about this response",
          "$ref" : "#/definitions/v1Meta"
        },
        "response" : {
          "description" : "Response object - may be a list or a single object",
          "$ref" : "#/definitions/__Generic__"
        }
      }
    },
    "ApplicantProfile" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string",
          "readOnly" : true
        },
        "first_name" : {
          "type" : "string",
          "readOnly" : true
        },
        "last_name" : {
          "type" : "string",
          "readOnly" : true
        },
        "email" : {
          "type" : "string",
          "readOnly" : true
        },
        "company_name" : {
          "type" : "string",
          "readOnly" : true
        },
        "rating" : {
          "type" : "number",
          "format" : "double",
          "readOnly" : true
        },
        "number_of_ratings" : {
          "type" : "integer",
          "format" : "int32",
          "readOnly" : true
        },
        "job_title" : {
          "type" : "string",
          "readOnly" : true
        },
        "overview" : {
          "type" : "string",
          "readOnly" : true
        },
        "phone_numbers" : {
          "type" : "array",
          "readOnly" : true,
          "items" : {
            "$ref" : "#/definitions/PhoneNumber"
          }
        }
      }
    },
    "Application" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64",
          "readOnly" : true
        },
        "note" : {
          "type" : "string",
          "readOnly" : true
        },
        "resource" : {
          "readOnly" : true,
          "$ref" : "#/definitions/ApplicantProfile"
        },
        "scheduling" : {
          "readOnly" : true,
          "$ref" : "#/definitions/RescheduleRequest"
        },
        "pricing" : {
          "readOnly" : true,
          "$ref" : "#/definitions/Pricing"
        },
        "expires_on" : {
          "type" : "integer",
          "format" : "int64",
          "readOnly" : true
        },
        "expired" : {
          "type" : "boolean",
          "readOnly" : true,
          "default" : false
        }
      }
    },
    "AssignmentCreationResponse" : {
      "type" : "object",
      "properties" : {
        "resource_send_results" : {
          "type" : "object",
          "readOnly" : true,
          "additionalProperties" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        },
        "invalid_groups" : {
          "type" : "array",
          "readOnly" : true,
          "items" : {
            "type" : "integer",
            "format" : "int64"
          }
        },
        "number_of_resources_sent" : {
          "type" : "integer",
          "format" : "int64",
          "readOnly" : true
        },
        "successful" : {
          "type" : "boolean",
          "readOnly" : true,
          "default" : false
        },
        "id" : {
          "type" : "string",
          "readOnly" : true
        },
        "requestURL" : {
          "type" : "string",
          "readOnly" : true
        }
      }
    },
    "AssignmentDetails" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string",
          "readOnly" : true
        },
        "title" : {
          "type" : "string",
          "readOnly" : true
        },
        "description" : {
          "type" : "string",
          "readOnly" : true
        },
        "instructions" : {
          "type" : "string",
          "readOnly" : true
        },
        "desired_skills" : {
          "type" : "string",
          "readOnly" : true
        },
        "short_url" : {
          "type" : "string",
          "readOnly" : true
        },
        "status" : {
          "type" : "string",
          "readOnly" : true
        },
        "substatuses" : {
          "type" : "array",
          "readOnly" : true,
          "items" : {
            "$ref" : "#/definitions/AssignmentDetailsLabel"
          }
        },
        "labels" : {
          "type" : "array",
          "readOnly" : true,
          "items" : {
            "$ref" : "#/definitions/AssignmentDetailsLabel"
          }
        },
        "project" : {
          "type" : "integer",
          "format" : "int64",
          "readOnly" : true
        },
        "client" : {
          "type" : "integer",
          "format" : "int64",
          "readOnly" : true
        },
        "internal_owner" : {
          "type" : "string",
          "readOnly" : true
        },
        "internal_owner_details" : {
          "readOnly" : true,
          "$ref" : "#/definitions/InternalOwnerDetails"
        },
        "sent_worker_count" : {
          "type" : "integer",
          "format" : "int32",
          "readOnly" : true
        },
        "assignment_window_start" : {
          "type" : "integer",
          "format" : "int64",
          "readOnly" : true
        },
        "assignment_window_start_date" : {
          "type" : "string",
          "readOnly" : true
        },
        "assignment_window_end" : {
          "type" : "integer",
          "format" : "int64",
          "readOnly" : true
        },
        "assignment_window_end_date" : {
          "type" : "string",
          "readOnly" : true
        },
        "scheduled_time" : {
          "type" : "integer",
          "format" : "int64",
          "readOnly" : true
        },
        "scheduled_time_date" : {
          "type" : "string",
          "readOnly" : true
        },
        "scheduled_start" : {
          "type" : "integer",
          "format" : "int64",
          "readOnly" : true
        },
        "scheduled_end" : {
          "type" : "integer",
          "format" : "int64",
          "readOnly" : true
        },
        "reschedule_request" : {
          "readOnly" : true,
          "$ref" : "#/definitions/RescheduleRequest"
        },
        "budget_increase_request" : {
          "readOnly" : true,
          "$ref" : "#/definitions/BudgetIncreaseRequest"
        },
        "expense_reimbursement_request" : {
          "readOnly" : true,
          "$ref" : "#/definitions/ExpenseReimbursementRequest"
        },
        "bonus_request" : {
          "readOnly" : true,
          "$ref" : "#/definitions/BonusRequest"
        },
        "resolution" : {
          "type" : "string",
          "readOnly" : true
        },
        "industry" : {
          "type" : "string",
          "readOnly" : true
        },
        "time_zone" : {
          "type" : "string",
          "readOnly" : true
        },
        "required_attachments" : {
          "type" : "integer",
          "format" : "int32",
          "readOnly" : true
        },
        "location" : {
          "readOnly" : true,
          "$ref" : "#/definitions/Location"
        },
        "location_offsite" : {
          "type" : "boolean",
          "readOnly" : true,
          "default" : false
        },
        "location_contact" : {
          "readOnly" : true,
          "$ref" : "#/definitions/LocationContact"
        },
        "support_contact" : {
          "readOnly" : true,
          "$ref" : "#/definitions/SupportContact"
        },
        "active_resource" : {
          "readOnly" : true,
          "$ref" : "#/definitions/ActiveResource"
        },
        "pricing" : {
          "readOnly" : true,
          "$ref" : "#/definitions/Pricing"
        },
        "invoice_number" : {
          "type" : "string",
          "readOnly" : true
        },
        "payment" : {
          "readOnly" : true,
          "$ref" : "#/definitions/Payment"
        },
        "attachments" : {
          "type" : "array",
          "readOnly" : true,
          "items" : {
            "$ref" : "#/definitions/AssignmentDetailsAttachment"
          }
        },
        "created_on" : {
          "type" : "integer",
          "format" : "int64",
          "readOnly" : true
        },
        "last_modified_on" : {
          "type" : "integer",
          "format" : "int64",
          "readOnly" : true
        },
        "history" : {
          "type" : "array",
          "readOnly" : true,
          "items" : {
            "$ref" : "#/definitions/History"
          }
        },
        "notes" : {
          "type" : "array",
          "readOnly" : true,
          "items" : {
            "$ref" : "#/definitions/Note"
          }
        },
        "custom_fields" : {
          "type" : "array",
          "readOnly" : true,
          "items" : {
            "$ref" : "#/definitions/CustomFieldGroup"
          }
        },
        "parts" : {
          "readOnly" : true,
          "$ref" : "#/definitions/Parts"
        },
        "pending_offers" : {
          "type" : "array",
          "readOnly" : true,
          "items" : {
            "$ref" : "#/definitions/Application"
          }
        },
        "declined_resources" : {
          "type" : "array",
          "readOnly" : true,
          "items" : {
            "$ref" : "#/definitions/DeclinedResource"
          }
        },
        "questions" : {
          "type" : "array",
          "readOnly" : true,
          "items" : {
            "$ref" : "#/definitions/QuestionAnswerPair"
          }
        }
      }
    },
    "AssignmentDetailsAttachment" : {
      "type" : "object",
      "properties" : {
        "uuid" : {
          "type" : "string",
          "readOnly" : true
        },
        "name" : {
          "type" : "string",
          "readOnly" : true
        },
        "description" : {
          "type" : "string",
          "readOnly" : true
        },
        "relative_uri" : {
          "type" : "string",
          "readOnly" : true
        }
      }
    },
    "AssignmentDetailsLabel" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "readOnly" : true
        },
        "note" : {
          "type" : "string",
          "readOnly" : true
        },
        "description" : {
          "type" : "string",
          "readOnly" : true
        },
        "userResolvable" : {
          "type" : "boolean",
          "readOnly" : true,
          "default" : false
        },
        "colorRgb" : {
          "type" : "string",
          "readOnly" : true
        },
        "id" : {
          "type" : "integer",
          "format" : "int64",
          "readOnly" : true
        },
        "isSetId" : {
          "type" : "boolean",
          "readOnly" : true,
          "default" : false
        },
        "isSetDescription" : {
          "type" : "boolean",
          "readOnly" : true,
          "default" : false
        },
        "isSetCode" : {
          "type" : "boolean",
          "readOnly" : true,
          "default" : false
        },
        "isSetColorRgb" : {
          "type" : "boolean",
          "readOnly" : true,
          "default" : false
        },
        "isSetNote" : {
          "type" : "boolean",
          "readOnly" : true,
          "default" : false
        }
      }
    },
    "AssignmentListItem" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string",
          "readOnly" : true
        },
        "project_id" : {
          "type" : "integer",
          "format" : "int64",
          "readOnly" : true
        },
        "title" : {
          "type" : "string",
          "readOnly" : true
        },
        "scheduled_start" : {
          "type" : "integer",
          "format" : "int64",
          "readOnly" : true
        },
        "scheduled_end" : {
          "type" : "integer",
          "format" : "int64",
          "readOnly" : true
        },
        "city" : {
          "type" : "string",
          "readOnly" : true
        },
        "state" : {
          "type" : "string",
          "readOnly" : true
        },
        "postal_code" : {
          "type" : "string",
          "readOnly" : true
        },
        "location_id" : {
          "type" : "string",
          "readOnly" : true
        },
        "spend_limit" : {
          "type" : "string",
          "readOnly" : true
        },
        "modified_status" : {
          "type" : "string",
          "readOnly" : true
        },
        "status" : {
          "type" : "string",
          "readOnly" : true
        },
        "substatuses" : {
          "type" : "array",
          "readOnly" : true,
          "items" : {
            "$ref" : "#/definitions/Label"
          }
        },
        "labels" : {
          "type" : "array",
          "readOnly" : true,
          "items" : {
            "$ref" : "#/definitions/Label"
          }
        },
        "internal_owner" : {
          "type" : "string",
          "readOnly" : true
        },
        "client" : {
          "type" : "string",
          "readOnly" : true
        },
        "client_id" : {
          "type" : "integer",
          "format" : "int64",
          "readOnly" : true
        },
        "invoice_number" : {
          "type" : "string",
          "readOnly" : true
        },
        "paid_date" : {
          "type" : "integer",
          "format" : "int64",
          "readOnly" : true
        },
        "total_cost" : {
          "type" : "string",
          "readOnly" : true
        },
        "resource_company_name" : {
          "type" : "string",
          "readOnly" : true
        },
        "resource_user_number" : {
          "type" : "string",
          "readOnly" : true
        },
        "resource_full_name" : {
          "type" : "string",
          "readOnly" : true
        },
        "last_modified_on" : {
          "type" : "integer",
          "format" : "int64",
          "readOnly" : true
        },
        "modifier_first_name" : {
          "type" : "string",
          "readOnly" : true
        },
        "modifier_last_name" : {
          "type" : "string",
          "readOnly" : true
        }
      }
    },
    "Attachment" : {
      "type" : "object",
      "properties" : {
        "uuid" : {
          "type" : "string",
          "readOnly" : true
        },
        "filename" : {
          "type" : "string",
          "readOnly" : true
        },
        "description" : {
          "type" : "string",
          "readOnly" : true
        },
        "size" : {
          "type" : "integer",
          "format" : "int32",
          "readOnly" : true
        },
        "attachment" : {
          "type" : "string",
          "readOnly" : true
        }
      }
    },
    "Authorization" : {
      "type" : "object",
      "properties" : {
        "access_token" : {
          "type" : "string",
          "readOnly" : true
        }
      }
    },
    "BonusRequest" : {
      "type" : "object",
      "properties" : {
        "bonus" : {
          "type" : "number",
          "format" : "double",
          "readOnly" : true
        },
        "note" : {
          "type" : "string",
          "readOnly" : true
        },
        "requested_on" : {
          "type" : "integer",
          "format" : "int64",
          "readOnly" : true
        }
      }
    },
    "BudgetIncreaseRequest" : {
      "type" : "object",
      "properties" : {
        "type" : {
          "type" : "string",
          "readOnly" : true
        },
        "spend_limit" : {
          "type" : "number",
          "format" : "double",
          "readOnly" : true
        },
        "budget_increases" : {
          "type" : "string",
          "readOnly" : true
        },
        "expense_reimbursements" : {
          "type" : "number",
          "format" : "double",
          "readOnly" : true
        },
        "bonuses" : {
          "type" : "number",
          "format" : "double",
          "readOnly" : true
        },
        "additional_expenses" : {
          "type" : "number",
          "format" : "double",
          "readOnly" : true
        },
        "flat_price" : {
          "type" : "number",
          "format" : "double",
          "readOnly" : true
        },
        "per_hour_price" : {
          "type" : "number",
          "format" : "double",
          "readOnly" : true
        },
        "max_number_of_hours" : {
          "type" : "number",
          "format" : "double",
          "readOnly" : true
        },
        "per_unit_price" : {
          "type" : "number",
          "format" : "double",
          "readOnly" : true
        },
        "max_number_of_units" : {
          "type" : "number",
          "format" : "double",
          "readOnly" : true
        },
        "initial_per_hour_price" : {
          "type" : "number",
          "format" : "double",
          "readOnly" : true
        },
        "initial_number_of_hours" : {
          "type" : "number",
          "format" : "double",
          "readOnly" : true
        },
        "additional_per_hour_price" : {
          "type" : "number",
          "format" : "double",
          "readOnly" : true
        },
        "max_blended_number_of_hours" : {
          "type" : "number",
          "format" : "double",
          "readOnly" : true
        },
        "note" : {
          "type" : "string",
          "readOnly" : true
        },
        "requested_on" : {
          "type" : "integer",
          "format" : "int64",
          "readOnly" : true
        }
      }
    },
    "CheckInOut" : {
      "type" : "object",
      "properties" : {
        "check_in_out_id" : {
          "type" : "integer",
          "format" : "int64",
          "readOnly" : true
        },
        "checked_in_on" : {
          "type" : "integer",
          "format" : "int64",
          "readOnly" : true
        },
        "checked_out_on" : {
          "type" : "integer",
          "format" : "int64",
          "readOnly" : true
        },
        "created_on" : {
          "type" : "integer",
          "format" : "int64",
          "readOnly" : true
        },
        "modified_on" : {
          "type" : "integer",
          "format" : "int64",
          "readOnly" : true
        },
        "note" : {
          "type" : "string",
          "readOnly" : true
        }
      }
    },
    "Client" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64",
          "readOnly" : true
        },
        "name" : {
          "type" : "string",
          "readOnly" : true
        },
        "customer_id" : {
          "type" : "string",
          "readOnly" : true
        }
      }
    },
    "Contact" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64",
          "readOnly" : true
        },
        "name" : {
          "type" : "string",
          "readOnly" : true
        }
      }
    },
    "CustomField" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64",
          "readOnly" : true
        },
        "name" : {
          "type" : "string",
          "readOnly" : true
        },
        "default" : {
          "type" : "string",
          "readOnly" : true
        },
        "required" : {
          "type" : "boolean",
          "readOnly" : true,
          "default" : false
        },
        "value" : {
          "type" : "string",
          "readOnly" : true
        }
      }
    },
    "CustomFieldGroup" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64",
          "readOnly" : true
        },
        "name" : {
          "type" : "string",
          "readOnly" : true
        },
        "fields" : {
          "type" : "array",
          "readOnly" : true,
          "items" : {
            "$ref" : "#/definitions/CustomField"
          }
        },
        "required" : {
          "type" : "boolean",
          "readOnly" : true,
          "default" : false
        }
      }
    },
    "DeclinedResource" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string",
          "readOnly" : true
        },
        "first_name" : {
          "type" : "string",
          "readOnly" : true
        },
        "last_name" : {
          "type" : "string",
          "readOnly" : true
        },
        "email" : {
          "type" : "string",
          "readOnly" : true
        },
        "phone_numbers" : {
          "type" : "array",
          "readOnly" : true,
          "items" : {
            "$ref" : "#/definitions/PhoneNumber"
          }
        }
      }
    },
    "ExpenseReimbursementRequest" : {
      "type" : "object",
      "properties" : {
        "expense_reimbursement" : {
          "type" : "number",
          "format" : "double",
          "readOnly" : true
        },
        "note" : {
          "type" : "string",
          "readOnly" : true
        },
        "requested_on" : {
          "type" : "integer",
          "format" : "int64",
          "readOnly" : true
        }
      }
    },
    "History" : {
      "type" : "object",
      "properties" : {
        "date" : {
          "type" : "integer",
          "format" : "int64",
          "readOnly" : true
        },
        "text" : {
          "type" : "string",
          "readOnly" : true
        },
        "set_by" : {
          "type" : "string",
          "readOnly" : true
        },
        "resolved_by" : {
          "type" : "string",
          "readOnly" : true
        },
        "label_id" : {
          "type" : "integer",
          "format" : "int64",
          "readOnly" : true
        },
        "label_name" : {
          "type" : "string",
          "readOnly" : true
        },
        "created_on" : {
          "type" : "integer",
          "format" : "int64",
          "readOnly" : true
        }
      }
    },
    "Industry" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64",
          "readOnly" : true
        },
        "name" : {
          "type" : "string",
          "readOnly" : true
        }
      }
    },
    "InternalOwnerDetails" : {
      "type" : "object",
      "properties" : {
        "first_name" : {
          "type" : "string",
          "readOnly" : true
        },
        "last_name" : {
          "type" : "string",
          "readOnly" : true
        }
      }
    },
    "Label" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string",
          "readOnly" : true
        },
        "name" : {
          "type" : "string",
          "readOnly" : true
        }
      }
    },
    "ListLabel" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64",
          "readOnly" : true
        },
        "name" : {
          "type" : "string",
          "readOnly" : true
        }
      }
    },
    "Location" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64",
          "readOnly" : true
        },
        "name" : {
          "type" : "string",
          "readOnly" : true
        },
        "location_number" : {
          "type" : "string",
          "readOnly" : true
        },
        "address_1" : {
          "type" : "string",
          "readOnly" : true
        },
        "address_2" : {
          "type" : "string",
          "readOnly" : true
        },
        "city" : {
          "type" : "string",
          "readOnly" : true
        },
        "state" : {
          "type" : "string",
          "readOnly" : true
        },
        "zip" : {
          "type" : "string",
          "readOnly" : true
        },
        "country" : {
[...]
