{
  "swagger" : "2.0",
  "info" : {
    "description" : "Employer API",
    "version" : "v2",
    "title" : "Swagger spec for Work Market API v2/Employer API",
    "termsOfService" : "https://www.workmarket.com/tos",
    "contact" : {
      "name" : "Work Market API Team",
      "url" : "https://developer.workmarket.com",
      "email" : "api@workmarket.com"
    },
    "license" : {
      "name" : "Company Licence",
      "url" : "https://developer.workmarket.com/licenses/LICENSE-2.0.html"
    }
  },
  "host" : "www.workmarket.com",
  "basePath" : "/",
  "tags" : [ {
    "name" : "Accounts"
  }, {
    "name" : "Assignment"
  }, {
    "name" : "Assignments"
  }, {
    "name" : "Clients"
  }, {
    "name" : "Custom Fields"
  }, {
    "name" : "Documents"
  }, {
    "name" : "Followers"
  }, {
    "name" : "Labels"
  }, {
    "name" : "Profile"
  }, {
    "name" : "Projects"
  }, {
    "name" : "Requirements"
  }, {
    "name" : "Surveys"
  }, {
    "name" : "Tax"
  }, {
    "name" : "Uploads"
  }, {
    "name" : "Vendor Search"
  }, {
    "name" : "Worker Search"
  } ],
  "schemes" : [ "https" ],
  "paths" : {
    "/employer/v2/assignments/templates" : {
      "get" : {
        "tags" : [ "Assignment" ],
        "summary" : "Get an assignment template for a given list of fields",
        "description" : "",
        "operationId" : "getAssignmentTemplates",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "required" : true,
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "collectionFormat" : "multi"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object",
                    "additionalProperties" : {
                      "type" : "object"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Assignment" ],
        "summary" : "Create a new assignment template",
        "description" : "",
        "operationId" : "postAssignmentTemplate",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/Template"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Template"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/employer/v2/assignments/templates/{id}" : {
      "get" : {
        "tags" : [ "Assignment" ],
        "summary" : "Get an assignment template",
        "description" : "",
        "operationId" : "getAssignmentTemplate",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Template"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Assignment" ],
        "summary" : "Update an assignment template",
        "description" : "",
        "operationId" : "postUpdateAssignmentTemplate",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/Template"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Template"
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Assignment" ],
        "summary" : "Update an assignment template",
        "description" : "",
        "operationId" : "putUpdateAssignmentTemplate",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/Template"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Template"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/assignments/{workNumber}/custom_fields" : {
      "put" : {
        "tags" : [ "Custom Fields" ],
        "summary" : "Update multiple custom fields",
        "description" : "",
        "operationId" : "bulkCustomFieldsUpdate",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "workNumber",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/CustomFieldsUpdateRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ApiV2xResponse"
            }
          }
        }
      }
    },
    "/v2/assignments/{workNumber}/custom_fields/{position}" : {
      "post" : {
        "tags" : [ "Custom Fields" ],
        "summary" : "Update custom fields",
        "description" : "",
        "operationId" : "updateCustomFields",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "workNumber",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "position",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/CustomFieldsUpdateRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ApiV2xResponse"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Custom Fields" ],
        "summary" : "Update a custom field group's custom fields by position",
        "description" : "",
        "operationId" : "updateCustomFieldGroup",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "workNumber",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "position",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/CustomFieldsUpdateRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ApiV2xResponse"
            }
          }
        }
      }
    },
    "/v2/employer/assignments/" : {
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Create a new assignment",
        "description" : "",
        "operationId" : "postCreateAssignment",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/Assignment"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Assignment"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/employer/assignments/configuration" : {
      "get" : {
        "tags" : [ "Assignments" ],
        "summary" : "Get default assignment settings",
        "description" : "",
        "operationId" : "getSettings",
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/AssignmentConfiguration"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Update default assignment settings",
        "description" : "",
        "operationId" : "updateSettingsPost",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/AssignmentConfiguration"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/AssignmentConfiguration"
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Assignments" ],
        "summary" : "Update default assignment settings",
        "description" : "",
        "operationId" : "updateSettingsPut",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/AssignmentConfiguration"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/AssignmentConfiguration"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/employer/assignments/drafts/" : {
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Create a draft assignment",
        "description" : "",
        "operationId" : "postAssignmentDraft",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/Assignment"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Assignment"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/employer/assignments/drafts/validation_errors" : {
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Validate a draft assignment",
        "description" : "",
        "operationId" : "validateAssignmentDraft",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/Assignment"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "type" : "array",
                    "items" : {
                      "$ref" : "#/definitions/ApiBaseError"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/employer/assignments/drafts/{id}" : {
      "get" : {
        "tags" : [ "Assignments" ],
        "summary" : "Get assignment details",
        "description" : "",
        "operationId" : "getAssignmentDraft",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Assignment"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Update a draft assignment",
        "description" : "",
        "operationId" : "postUpdateAssignmentDraft",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/Assignment"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Assignment"
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Assignments" ],
        "summary" : "Update a draft assignment",
        "description" : "",
        "operationId" : "putUpdateAssignmentDraft",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/Assignment"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Assignment"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/employer/assignments/drafts/{id}/configuration" : {
      "get" : {
        "tags" : [ "Assignments" ],
        "summary" : "Get assignment configuration details",
        "description" : "",
        "operationId" : "getAssignmentDraftConfiguration",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/AssignmentConfiguration"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Create/update assignment configuration details",
        "description" : "",
        "operationId" : "postAssignmentDraftConfiguration",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/AssignmentConfiguration"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/AssignmentConfiguration"
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Assignments" ],
        "summary" : "Create/update assignment configuration details",
        "description" : "",
        "operationId" : "putAssignmentDraftConfiguration",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/AssignmentConfiguration"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/AssignmentConfiguration"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/employer/assignments/drafts/{id}/custom_field_groups" : {
      "get" : {
        "tags" : [ "Assignments" ],
        "summary" : "Get assignment custom field groups",
        "description" : "",
        "operationId" : "getAssignmentDraftCustomFieldGroups",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/CustomFieldGroup"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Create/update assignment custom field groups",
        "description" : "",
        "operationId" : "postAssignmentDraftCustomFieldGroups",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/CustomFieldGroup"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/CustomFieldGroup"
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Assignments" ],
        "summary" : "Create/update assignment custom field groups",
        "description" : "",
        "operationId" : "putAssignmentDraftCustomFieldGroups",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/CustomFieldGroup"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/CustomFieldGroup"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/employer/assignments/drafts/{id}/deliverables_group" : {
      "get" : {
        "tags" : [ "Assignments" ],
        "summary" : "Get the deliverables associated with this assignment",
        "description" : "",
        "operationId" : "getAssignmentDraftDeliverablesGroup",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/DeliverablesGroup"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Update the deliverables associated with this assignment",
        "description" : "",
        "operationId" : "postAssignmentDraftDeliverablesGroup",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/DeliverablesGroup"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/DeliverablesGroup"
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Assignments" ],
        "summary" : "Update the deliverables associated with this assignment",
        "description" : "",
        "operationId" : "putAssignmentDraftDeliverablesGroup",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/DeliverablesGroup"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/DeliverablesGroup"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/employer/assignments/drafts/{id}/documents" : {
      "get" : {
        "tags" : [ "Assignments" ],
        "summary" : "Get the documents associated with this assignment ",
        "description" : "",
        "operationId" : "getAssignmentDraftDocuments",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Document"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Create/update the documents associated with this assignment",
        "description" : "",
        "operationId" : "postAssignmentDraftDocuments",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/Document"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Document"
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Assignments" ],
        "summary" : "Create/update the documents associated with this assignment",
        "description" : "",
        "operationId" : "putAssignmentDraftDocuments",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/Document"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Document"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/employer/assignments/drafts/{id}/location" : {
      "get" : {
        "tags" : [ "Assignments" ],
        "summary" : "Get assignment location details",
        "description" : "",
        "operationId" : "getAssignmentDraftLocation",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Location"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Update assignment location details",
        "description" : "",
        "operationId" : "postAssignmentDraftLocation",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/Location"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Location"
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Assignments" ],
        "summary" : "Update assignment location details",
        "description" : "",
        "operationId" : "putAssignmentDraftLocation",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/Location"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Location"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/employer/assignments/drafts/{id}/pricing" : {
      "get" : {
        "tags" : [ "Assignments" ],
        "summary" : "Get assignment pricing details",
        "description" : "",
        "operationId" : "getAssignmentDraftPricing",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Pricing"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Update assignment pricing details",
        "description" : "",
        "operationId" : "postAssignmentDraftPricing",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/Pricing"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Pricing"
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Assignments" ],
        "summary" : "Update assignment pricing details",
        "description" : "",
        "operationId" : "putAssignmentDraftPricing",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/Pricing"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Pricing"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/employer/assignments/drafts/{id}/routing" : {
      "get" : {
        "tags" : [ "Assignments" ],
        "summary" : "Get assignment routing details",
        "description" : "",
        "operationId" : "getAssignmentDraftRouting",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Routing"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Update assignment routing details",
        "description" : "",
        "operationId" : "postAssignmentDraftRouting",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/Routing"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Routing"
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Assignments" ],
        "summary" : "Update assignment routing details",
        "description" : "",
        "operationId" : "putAssignmentDraftRouting",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/Routing"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Routing"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/employer/assignments/drafts/{id}/schedule" : {
      "get" : {
        "tags" : [ "Assignments" ],
        "summary" : "Get an assignment schedule",
        "description" : "",
        "operationId" : "getAssignmentDraftSchedule",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Schedule"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Get an assignment schedule",
        "description" : "",
        "operationId" : "postAssignmentDraftSchedule",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/Schedule"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Schedule"
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Assignments" ],
        "summary" : "Get an assignment schedule",
        "description" : "",
        "operationId" : "putAssignmentDraftSchedule",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/Schedule"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Schedule"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/employer/assignments/drafts/{id}/shipments" : {
      "get" : {
        "tags" : [ "Assignments" ],
        "summary" : "Get assignment shipments",
        "description" : "",
        "operationId" : "getAssignmentDraftShipments",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Shipment"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Create/update assignment shipments",
        "description" : "",
        "operationId" : "postAssignmentDraftShipments",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/Shipment"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Shipment"
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Assignments" ],
        "summary" : "Create/update assignment shipments",
        "description" : "",
        "operationId" : "putAssignmentDraftShipments",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/Shipment"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Shipment"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/employer/assignments/drafts/{id}/surveys" : {
      "get" : {
        "tags" : [ "Assignments" ],
        "summary" : "Get assignment surveys",
        "description" : "",
        "operationId" : "getAssignmentDraftSurveys",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Survey"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Create/update assignment surveys",
        "description" : "",
        "operationId" : "postAssignmentDraftSurveys",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/Survey"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Survey"
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Assignments" ],
        "summary" : "Create/update assignment surveys",
        "description" : "",
        "operationId" : "putAssignmentDraftSurveys",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/Survey"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Survey"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/employer/assignments/validation_errors" : {
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Validate a new assignment",
        "description" : "",
        "operationId" : "validateAssignment",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/Assignment"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "type" : "array",
                    "items" : {
                      "$ref" : "#/definitions/ApiBaseError"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/employer/assignments/{id}" : {
      "get" : {
        "tags" : [ "Assignments" ],
        "summary" : "Get an assignment by id",
        "description" : "",
        "operationId" : "getAssignment",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Assignment"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Update an assignment's details",
        "description" : "All objects in the assignment graph will be affected",
        "operationId" : "postUpdateAssignment",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/Assignment"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Assignment"
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Assignments" ],
        "summary" : "Update an assignment's details",
        "description" : "All objects in the assignment graph will be affected",
        "operationId" : "putUpdateAssignment",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/Assignment"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Assignment"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/employer/assignments/{id}/configuration" : {
      "get" : {
        "tags" : [ "Assignments" ],
        "summary" : "Get an assignment's configuration details",
        "description" : "",
        "operationId" : "getAssignmentConfiguration",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/AssignmentConfiguration"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Update an assignment's configuration details",
        "description" : "",
        "operationId" : "postAssignmentConfiguration",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/AssignmentConfiguration"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/AssignmentConfiguration"
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Assignments" ],
        "summary" : "Update an assignment's configuration details",
        "description" : "",
        "operationId" : "putAssignmentConfiguration",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/AssignmentConfiguration"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/AssignmentConfiguration"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/employer/assignments/{id}/custom_field_groups" : {
      "get" : {
        "tags" : [ "Assignments" ],
        "summary" : "Get an assignment's custom field groups",
        "description" : "",
        "operationId" : "getAssignmentCustomFieldGroups",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/CustomFieldGroup"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Update an assignment's custom field groups",
        "description" : "",
        "operationId" : "postAssignmentCustomFieldGroups",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/CustomFieldGroup"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/CustomFieldGroup"
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Assignments" ],
        "summary" : "Update an assignment's custom field groups",
        "description" : "",
        "operationId" : "putAssignmentCustomFieldGroups",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/CustomFieldGroup"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/CustomFieldGroup"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/employer/assignments/{id}/deliverables_group" : {
      "get" : {
        "tags" : [ "Assignments" ],
        "summary" : "Get an assignment's deliverables",
        "description" : "",
        "operationId" : "getAssignmentDeliverablesGroup",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/DeliverablesGroup"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Update an assignment's deliverables",
        "description" : "",
        "operationId" : "postAssignmentDeliverablesGroup",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/DeliverablesGroup"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/DeliverablesGroup"
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Assignments" ],
        "summary" : "Update an assignment's deliverables",
        "description" : "",
        "operationId" : "putAssignmentDeliverablesGroup",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/DeliverablesGroup"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/DeliverablesGroup"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/employer/assignments/{id}/documents" : {
      "get" : {
        "tags" : [ "Assignments" ],
        "summary" : "Get an assignment's documents",
        "description" : "",
        "operationId" : "getAssignmentDocuments",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Document"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Update an assignment's documents",
        "description" : "",
        "operationId" : "postAssignmentDocuments",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/Document"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Document"
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Assignments" ],
        "summary" : "Update an assignment's documents",
        "description" : "",
        "operationId" : "putAssignmentDocuments",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/Document"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Document"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/employer/assignments/{id}/location" : {
      "get" : {
        "tags" : [ "Assignments" ],
        "summary" : "Get an assignment's location details",
        "description" : "",
        "operationId" : "getAssignmentLocation",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Location"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Update an assignment's location details",
        "description" : "",
        "operationId" : "postAssignmentLocation",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/Location"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Location"
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Assignments" ],
        "summary" : "Update an assignment's location details",
        "description" : "",
        "operationId" : "putAssignmentLocation",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/Location"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Location"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/employer/assignments/{id}/pricing" : {
      "get" : {
        "tags" : [ "Assignments" ],
        "summary" : "Get an assignment's pricing details",
        "description" : "",
        "operationId" : "getAssignmentPricing",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Pricing"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Update an assignment's pricing details",
        "description" : "",
        "operationId" : "postAssignmentPricing",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/Pricing"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Pricing"
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Assignments" ],
        "summary" : "Update an assignment's pricing details",
        "description" : "",
        "operationId" : "putAssignmentPricing",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/Pricing"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Pricing"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/employer/assignments/{id}/routing" : {
      "get" : {
        "tags" : [ "Assignments" ],
        "summary" : "Get an assignment's routing details",
        "description" : "",
        "operationId" : "getAssignmentRouting",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Routing"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Update an assignment's routing details",
        "description" : "",
        "operationId" : "postAssignmentRouting",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/Routing"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Routing"
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Assignments" ],
        "summary" : "Update an assignment's routing details",
        "description" : "",
        "operationId" : "putAssignmentRouting",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/Routing"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Routing"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/employer/assignments/{id}/schedule" : {
      "get" : {
        "tags" : [ "Assignments" ],
        "summary" : "Get an assignment's schedule",
        "description" : "",
        "operationId" : "getAssignmentSchedule",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Schedule"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Update an assignment's schedule",
        "description" : "",
        "operationId" : "postAssignmentSchedule",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/Schedule"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Schedule"
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Assignments" ],
        "summary" : "Update an assignment's schedule",
        "description" : "",
        "operationId" : "putAssignmentSchedule",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/Schedule"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Schedule"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/employer/assignments/{id}/shipments" : {
      "get" : {
        "tags" : [ "Assignments" ],
        "summary" : "Get an assignment's shipments",
        "description" : "",
        "operationId" : "getAssignmentShipments",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Shipment"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Update an assignment's shipments",
        "description" : "",
        "operationId" : "postAssignmentShipments",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/Shipment"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Shipment"
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Assignments" ],
        "summary" : "Update an assignment's shipments",
        "description" : "",
        "operationId" : "putAssignmentShipments",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/Shipment"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Shipment"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/employer/assignments/{id}/surveys" : {
      "get" : {
        "tags" : [ "Assignments" ],
        "summary" : "Get an assignment's surveys",
        "description" : "",
        "operationId" : "getAssignmentSurveys",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Survey"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Update an assignment's surveys",
        "description" : "",
        "operationId" : "postAssignmentSurveys",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/Survey"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Survey"
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Assignments" ],
        "summary" : "Update an assignment's surveys",
        "description" : "",
        "operationId" : "putAssignmentSurveys",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/Survey"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Survey"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/employer/assignments/{workNumber}/accept_work_on_behalf_of" : {
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Accept work on behalf of the given worker",
        "description" : "",
        "operationId" : "acceptWorkOnBehalfOf",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "workNumber",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/AcceptOnBehalf"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ApiV2Response"
            }
          }
        }
      }
    },
    "/v2/employer/client_companies" : {
      "get" : {
        "tags" : [ "Clients" ],
        "summary" : "Get client companies with the given fields",
        "description" : "",
        "operationId" : "getClientCompanies",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "",
          "in" : "query",
          "required" : true,
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "collectionFormat" : "multi"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object",
                    "additionalProperties" : {
                      "type" : "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/employer/client_companies/{id}/projects" : {
      "get" : {
        "tags" : [ "Clients" ],
        "summary" : "Get projects for the given client company",
        "description" : "",
        "operationId" : "getProjectsByClient",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "",
          "in" : "query",
          "required" : true,
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "collectionFormat" : "multi"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ApiV2Response"
            }
          }
        }
      }
    },
    "/v2/employer/client_locations" : {
      "get" : {
        "tags" : [ "Clients" ],
        "summary" : "Get a list of client locations",
        "description" : "",
        "operationId" : "getClientLocations",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "",
          "in" : "query",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "",
          "in" : "query",
          "required" : true,
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "collectionFormat" : "multi"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object",
                    "additionalProperties" : {
                      "type" : "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/employer/custom_field_groups" : {
      "get" : {
        "tags" : [ "Custom Fields" ],
        "summary" : "Get a list of custom field groups and suppress all but the given fields",
        "description" : "",
        "operationId" : "getCustomFieldGroups",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "",
          "in" : "query",
          "required" : true,
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "collectionFormat" : "multi"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ApiV2Response"
            }
          }
        }
      }
    },
    "/v2/employer/documents" : {
      "get" : {
        "tags" : [ "Documents" ],
        "summary" : "Get documents",
        "description" : "",
        "operationId" : "getDocuments",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "",
          "in" : "query",
          "required" : true,
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "collectionFormat" : "multi"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ApiV2Response"
            }
          }
        }
      }
    },
[...]
